<style>
    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    .menu li {
        float: left;
    }

    .menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .menu li a:hover:not(.active) {
        background-color: #111;
    }

    .menu .active {
        background-color: #04AA6D;
    }
</style>


<ul class="menu">
    <li><a href="/">Trang chủ</a></li>
    <li><a href="/view/schedule.php">Đăng ký học</a></li>
    <li><a href="/view/fee_manager.php">Quản lý học phí</a></li>
    <li><a href="/view/subject_manager.php">Quản lý môn học</a></li>
    <li><a href="/view/schedule_manager.php">Quản lý thời khóa biểu</a></li>
    <!-- <li><a href="/view/schedule_manager.php">Quản lý đăng ký học</a></li> -->
</ul>

<script>
</script>